# IDE & Editor
**/.vs
**/.vscode
**/.idea
**/.classpath
**/.project
**/.settings
**/.toolstarget

# Git
**/.git
**/.gitignore

# .NET build output
**/bin
**/obj

# Dependencies
**/node_modules
**/npm-debug.log

# User/local files
**/*.user
**/*.dbmdl
**/*.jfm

# Secrets & config nhạy cảm
**/secrets.dev.yaml
**/values.dev.yaml
**/.env

# CI/CD & infra (không cần trong image)
**/charts
**/docker-compose*

# Test output
**/TestResults

# Docs
**/*.md
LICENSE
README.md